<%= form_for([:admin,@block], html: { multipart: true }) do |f| %>
  <% if @block.errors.any? %>
    <div id="error_explanation">
      <h2><%= @block.errors.count %>处错误提示: </h2>

      <ul>
      <% @block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :block_space_id, '所属位置：' %>
	<%=f.select :block_space_id, options: BlockSpace.block_space_name_options %>
  </div>
  <div class="field">
    <%= f.label :title, '标题：' %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url, '链接地址：' %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
	<label>url地址：</label>
	<input type="file" name="asset_id" />
  </div>
  <div class="field">
    <%= f.label :content, '内容' %>
    <%= f.text_area :content, style: "width:500px;height:100px;" %>
  </div>

  <div class="field">
    <%= f.label :order, '排序：' %>
    <%= f.number_field :order %>
  </div>

  <div class="field">
    <%= f.label :state, '是否发布' %>
    <%= f.radio_button :state, 0 %>否&nbsp;
    <%= f.radio_button :state, 1 %>是
  </div>
  <span class="blank20"></span>
  <div class="actions">
    <%= f.submit '保存' %>
	<%=link_to '返回', admin_blocks_path %>
  </div>
<% end %>
