<%=provide(:title, '区块列表')%>
<div class="row">
	<div class="col-md-2">
		<%=render "admin/base/left_bar"%>
	</div>
	<div class="col-md-10">
      <!--Body content-->
          <%= render "admin/blocks/tool_bar"%>
          <span class="blank10"></span>
          <div class="sub_operation clearfix">
             <div class="left_operation">
                选择：
                <a id="select_all" class="pointer">全选 </a>
                ｜
                <a id="select_un" class="pointer">反选 </a>
                ｜
                <a id="select_cancel" class="pointer">取消 </a>
              </div>
			  <div class="clearfix">
				<div class="operate_box clearfix">
					<%=link_to('+新建', new_admin_block_path )%>
					<%=link_to('批量删除', {action: 'destroy_more', format: 'js'}, class: "select_post")%>
				</div>
			  </div>
          </div>
          <span class="blank10"></span>
          <table class="admin-box">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
				<th>标识</th>
                <th>说明</th>
				<th>类型</th>
                <th>创建人</th>
				<th>创建时间</th>
                <th>管理</th>
              </tr>
            </thead>
            <tbody >
              <%@blocks.each do |b|%>
                <%= render partial: "admin/blocks/item", :locals => { :b => b } %>
              <%end%>
            </tbody>
          </table>
          <%= will_paginate @blocks if @blocks.present? %>
        </div>
     </div>
    </div>
  </div>
</div>

