<% provide(:title, "登录") %>

<% content_for :jquery do %>

  //validate验证
 $("#check_login_form").validate({
    rules: {
      'session[email]': {
          required: true,
		  email: true
      },
      'session[password]': {
          required: true
	  }
		  	
    },
    messages: {
      'session[email]': {
	  	  required: '请输入你的邮箱!',
		  email: '请输入正确邮箱格式!'
      },
      'session[password]': {
	  	  required: '请输入密码'
	  }
    }

 });

<%end%>

<%= form_for(:session, url: sessions_path, html: { id: 'check_login_form', role: 'form', class: 'form-signin' }) do |f| %>
	<h2 class="form-signin-heading">请登录</h2>

	  <%= f.text_field :email, class: 'form-control', placeholder: '邮箱', autofocus: ''  %>


	  <%= f.password_field :password, class: 'form-control', placeholder: '密码' %>

	  <label class="checkbox">
		<input type="checkbox" value="remember-me"> 记住密码
	  </label>

	  <%= f.submit "登录", class: "btn btn-large btn-primary" %>
	  <%= link_to '忘记密码?', user_find_pwd_path %>
<% end %>

<p>新用户? <%= link_to "现在注册!", signup_path %></p>

