<%= form_for([:admin,@position]) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= @position.errors.count %>处错误提示: </h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '名称：' %>
    <%= f.text_field :name %>
  </div>
  <span class="blank10"></span>
  <div class="field">
    <%= f.label :content, '描述' %>
    <%= f.text_area :content, style: "width:500px; height: 100px;" %>
  </div>
  <span class="blank20"></span>
  <div class="field">
    <%= f.label :mark, '标识(格式只能是字母或字母加下划线)' %>
    <%= f.text_field :mark %>
  </div>
  <span class="blank10"></span>
  <div class="field">
    <%= f.label :order, '排序' %>
    <%= f.number_field :order %>
  </div>
  <span class="blank10"></span>
  <div class="field">
    <%= f.label :stick, '是否推荐' %>
    <%= f.radio_button :stick, 0 %>否&nbsp;
    <%= f.radio_button :stick, 1 %>是
  </div>
  <span class="blank20"></span>
  <div class="field">
    <%= f.label :state, '状态' %>
    <%= f.radio_button :state, 0 %>关闭&nbsp;
    <%= f.radio_button :state, 1 %>开启
  </div>
  <span class="blank20"></span>
  <div class="actions">
    <%= f.submit '保存' %>
	<%=link_to '返回', admin_positions_path %>
  </div>
<% end %>
