<% if @post.new_record? %>
  <%action = 'create'%>
<%else%>
  <%action = 'update'%>
<%end%>
<%= form_for([:admin,@post], url: { controller: 'teachers', action: action }, html: { multipart: true } ) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>处错误提示: </h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" name="asset_ids" id="editor_ids" />
  <%= f.hidden_field :type, value: 4 %>
  <div class="field">
    <%= f.label :title, '名称：' %>
    <%= f.text_field :title %>
  </div>
  <span class="blank10"></span>
  <div class="row-nopos block-category clearfix">
     <!--引用分类-->
     <%=render partial: "shared/share_category",:locals => { :current_category_id=>@post.category_id, :type=>4} %>
  </div>
  <span class="blank10"></span>
  <div class="field">
	<label>头像(200x235)：</label>
	<input type="file" name="asset_id" />
  </div>
  <span class="blank10"></span>
  <div class="field">
    <%= f.label :content, '内容' %>
    <%= f.text_area :content, id: 'kind_editor' %>
  </div>
  <span class="blank10"></span>
  <div class="field">
    <%= f.label :order, '排序：' %>
    <%= f.number_field :order %>
  </div>
  <span class="blank10"></span>
  <div class="field">
    <%= f.label :stick, '推荐' %>
    <%= f.radio_button :stick, 0 %>否&nbsp;
    <%= f.radio_button :stick, 1 %>是
  </div>
  <span class="blank10"></span>
  <div class="field">
    <%= f.label :publish, '是否发布' %>
    <%= f.radio_button :publish, 0 %>否&nbsp;
    <%= f.radio_button :publish, 1 %>是
  </div>
  <span class="blank10"></span>
  <div class="field">
    <%= f.label :state, '状态' %>
    <%= f.radio_button :state, 0 %>禁用&nbsp;
    <%= f.radio_button :state, 1 %>正常
  </div>
  <span class="blank20"></span>
  <div class="actions">
    <%= f.submit '保存' %>
	<%=link_to '返回', admin_teachers_path %>
  </div>
<% end %>
