<% provide(:title, '修改密码') %>

<% content_for :jquery do %>

  //validate验证
 $("#check_user_pwd").validate({
    rules: {
      'current_password': {
          required: true

      },
      'user[password]': {
          required: true,
          minlength: 6,
          maxlength: 18
	  },
	  'user[password_confirmation]': {
	  	  required: true,
		   equalTo: '#confirm_password'
	  }
		  	
    },
    messages: {
      'current_password': {
          required: '请输入原密码!'
      },
      'user[password]': {
	  	  required: '请输入密码',
          minlength: '至少{0}个字符',
          maxlength: '最多{0}个字符'
	  },
	  'user[password_confirmation]': {
	  	  required: '确认密码不能为空!',
		   equalTo: '确认密码不正确!'
	  }

    }

 });

<%end%>

<div class="row">
	<div class="col-md-3">
	  <%=render 'left_navigation'%>
	</div>
	<div class="col-md-9">

		<%= form_for(@user, url: user_update_pwd_path, :html=>{ id: 'check_user_pwd', method: :patch, role: 'form', class: 'form-signin' }) do |f| %>
		  <%= render 'shared/error_messages' %>
  		  <div class="form-group">
		    <label for="current_password"> 原密码:</label>
		    <%= password_field_tag :current_password, '', class: 'form-control' %>
		  </div>
  		  <div class="form-group">
		    <%= f.label :password, "新密码" %>
		    <%= f.password_field :password, id: 'confirm_password', class: 'form-control' %>
	      </div>
  		  <div class="form-group">
		    <%= f.label :password_confirmation, "确认密码" %>
		    <%= f.password_field :password_confirmation, class: 'form-control' %>
		  </div>

		  <%= f.submit "保存", class: "btn btn-large btn-primary" %>
		<% end %>

	</div>
</div>



