<%=provide(:title, '发布文章')%>
<% content_for :scripts do %>
  <%= javascript_include_tag "kindeditor-4.1.9/kindeditor-min" %>
	<script style="text/javascript">
    //添加删除分类
    function add_and_drop_category()
    {
      var obj = $(this);
      var cate_id = obj.attr('cate_id');
      obj.addClass('current').siblings('a').removeClass('current');
      obj.parent('div').find('.category_tag').val(cate_id);
    }
      var item_id = '';
      var type = 'Post';
      var options = {
        width: '800px',
        height: '500px',
        uploadJson: '/upload/editor?item_id='+item_id+'&type='+type,
        //newlineTag: 'p',
        afterUpload : function(url,data) {
          //把编辑器上传的图片ｉｄ传给editor_ids,用于关联该新闻对象
          muc.record_asset_ids(data.asset_id,'#editor_ids');
        }
      };
      KindEditor.ready(function(K) {
        window.editor = K.create('#kind_editor', options)
      });


	  //ajax通过父id显示子分类
	  function ajax_change_category(pid)
	  {
		var url = "/admin/categories/ajax_change_category";
	  	$.get(url, {pid: pid, type: 1});
	  }

	</script>
<%end%>
<% content_for :jquery do %>
	var current_pid = $('#pid').val();
	ajax_change_category(current_pid);

	//通过选择父id改变子分类的值
	$('#pid').change(function(){
	  var pid = $(this).val();
	  ajax_change_category(pid);
	})
<%end%>


<div class="row">
	<div class="col-md-2">
		<%=render "admin/base/left_bar"%>
	</div>
	<div class="col-md-10">
	  <%= render "admin/posts/tool_bar"%>
	  <span class="blank20"></span>
	  <%= render 'form' %>
	</div>
  </div>
</div>

