<%= form_for([:admin,@static_type]) do |f| %>
  <% if @static_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= @static_type.errors.count %>处错误提示: </h2>

      <ul>
      <% @static_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, '名称：' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content, '描述' %><br />
    <%= f.text_area :content, size: '100*100' %>
  </div>
  <div class="field">
    <%= f.label :mark, '标识' %><br />
    <%= f.text_field :mark %>
  </div>
  <div class="field">
    <%= f.label :order, '排序' %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :type, '类型' %><br />
    <%= f.radio_button :type, 1 %>学院概述&nbsp;
    <%= f.radio_button :type, 4 %>艺术教学&nbsp;
    <%= f.radio_button :type, 2 %>招生详情&nbsp;
    <%= f.radio_button :type, 3 %>学生工作
  </div>
  <div class="field">
    <%= f.label :stick, '是否推荐' %><br />
    <%= f.radio_button :stick, 0 %>否&nbsp;
    <%= f.radio_button :stick, 1 %>是
  </div>
  <div class="field">
    <%= f.label :state, '状态' %><br />
    <%= f.radio_button :state, 0 %>关闭&nbsp;
    <%= f.radio_button :state, 1 %>开启
  </div>
  <span blank20></span>
  <div class="actions">
    <%= f.submit '保存' %>
	<%=link_to '返回', admin_static_types_path %>
  </div>
<% end %>
