<tr id="cate_<%=b.id%>" class="user_unaudited">
    <td><label><span class="btn-medium">选中</span><%=check_box_tag "content[ids][]", b.id %></label></td>
    <td><%=b.id%></td>
	<td><%= b.name %></td>
  
    <td><%=b.mark%></td>
	<td><%=b.type_str%></td>
	<td><%=b.order%></td>
	<td class="state_<%=b.id%>"><%=b.state==1 ? ' 正常' : '关闭' %></td>
  <td>
	<span class="btn_state_<%=b.id%>">
      <% if b.state==0 %>
		<%=link_to "启用" , { action: 'ajax_set_state', id: b.id, type: 1 }, remote: true, method: :post %> |
      <%else%>
        <%=link_to "关闭",{ action: 'ajax_set_state', id: b.id, type: 0 }, remote: true, method: :post%> |
      <%end%>
	</span>
    <%=link_to "编辑", edit_admin_static_type_path(b) %>
    <%=link_to "删除", { action: 'destroy', id: b.id }, data: { confirm: "确认执行此操作?" }, remote: true, method: :delete %>
  </td>
</tr>
