<div class="top_tools clearfix">
  <%=link_to '全部', { action: :index }, class: "btn-medium mr-5 fl #{css_active?(@css_static_type_list)}"%>
  <%=link_to '学院概况', { action: :introduce }, class: "btn-medium mr-5 fl #{css_active?(@css_introduce_list)}"%>
  <%=link_to '艺术教学', { action: :teach }, class: "btn-medium mr-5 fl #{css_active?(@css_teach_list)}"%>
  <%=link_to '招生详情', { action: :enrollment }, class: "btn-medium mr-5 fl #{css_active?(@css_enrollment_list)}"%>
  <%=link_to '学生工作', { action: :student_serve }, class: "btn-medium mr-5 fl #{css_active?(@css_student_serve_list)}"%>

  <%form_tag '',:class=>"form-box fr",:method=>:get do%>
    <p align="right" class="fl mr-10">
      <%=text_field_tag :search,:class=>"t-inp small-inp"%>
    <div class="search_select fl mr-10">
      <%=select_tag :type ,:options=>[['=请选择条件=',nil],['按ID','id'],['按用户ID','user_id']]%>
    </div>
    <%=submit_tag "搜索",:class=>"btn-medium btn-mt0 fl"%>
  </p>
<% end %>
</div>
