<tr id="column_<%=b.id%>" class="user_unaudited">
    <td><label><%=check_box_tag "content[ids][]", b.id %></label></td>
    <td><%=b.id%></td>
	<td><%= truncate(b.title, length: 12) %></td>
    <td>
		<% if b.asset.present? %>
			<%= image_tag( "/#{b.asset.url('s')}", width: 50, height: 50 ) %>
		<%else%>
			<span>无</span>
		<%end%>
    </td>
	<td><%= "#{b.column_space.name}[#{b.column_space.mark}]" if b.column_space.present?%></td>
	<td><%= b.user.name if b.user.present? %></td>
	<td><%= b.sort %></td>
    <td class="show_state_<%=b.id%>"><%= b.state==0 ? '禁用' : '正常' %></td>
	<td><%=b.created_at.strftime("%y.%m.%d")%></td>
  <td>
	<span class="btn_state_<%=b.id%>">
      <% if b.state==0 %>
		<%=link_to "启用" , { action: 'ajax_set_state', id: b.id, type: 1 }, remote: true, method: :post %> |
      <%else%>
        <%=link_to "禁用",{ action: 'ajax_set_state', id: b.id, type: 0 }, remote: true, method: :post%> |
      <%end%>
	</span>
	<%=link_to "编辑", edit_admin_column_path(b)%>
    <%=link_to "删除", { action: 'destroy', id: b.id }, data: { confirm: "确认执行此操作?" }, remote: true, method: :delete %>
  </td>
</tr>
