<%= form_for([:admin,@block_space]) do |f| %>
  <% if @block_space.errors.any? %>
    <div id="error_explanation">
      <h2><%= @block_space.errors.count %>处错误提示: </h2>

      <ul>
      <% @block_space.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mark, '标识：' %>
    <%= f.text_field :mark %>
  </div>
  <div class="field">
    <%= f.label :name, '栏目位名称：' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :position_info, '内容' %>
    <%= f.text_area :position_info, style: "width:500px; height: 100px;" %>
  </div>
  <div class="field">
    <%= f.label :width, '宽度：' %>
    <%= f.number_field :width %>
  </div>
  <div class="field">
    <%= f.label :height, '高度：' %>
    <%= f.number_field :height %>
  </div>

  <div class="field">
    <%= f.label :state, '状态' %>
    <%= f.radio_button :state, 0 %>禁用&nbsp;
    <%= f.radio_button :state, 1 %>正常
  </div>
  <span class="blank20"></span>
  <div class="actions">
    <%= f.submit '保存' %>
	<%=link_to '返回', admin_block_spaces_path %>
  </div>
<% end %>
