<%= form_for([:admin,@static]) do |f| %>
  <% if @static.errors.any? %>
    <div id="error_explanation">
      <h2><%= @static.errors.count %>处错误提示: </h2>

      <ul>
      <% @static.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <input type="hidden" name="asset_ids" id="editor_ids" />
  <div class="field">
    <%= f.label :type, '类型：' %><br />
    <%= f.radio_button :type, 1 %>学院概况&nbsp;
    <%= f.radio_button :type, 4 %>艺术教学&nbsp;
    <%= f.radio_button :type, 2 %>招生详情&nbsp;
    <%= f.radio_button :type, 3 %>学生工作
  </div>
  <div class="field">
    <%= f.label :title, '标题：' %><br />
    <%= f.text_field :title %>
  </div>
  <span class="blank10"></span>
  <div id="shared_category" class="row-nopos block-category clearfix">
     <!--引用分类-->
     <%#=render partial: "shared/share_static_type",:locals => { :current_category_id=>@static.static_type_id, :type=>1} %>
  </div>
  <div class="field">
    <%= f.label :content, '内容' %><br />
    <%= f.text_area :content, id: 'kind_editor' %>
  </div>
  <div class="field">
    <%= f.label :stick, '推荐' %><br />
    <%= f.radio_button :stick, 0 %>否&nbsp;
    <%= f.radio_button :stick, 1 %>是
  </div>
  <div class="field">
    <%= f.label :publish, '是否发布' %><br />
    <%= f.radio_button :publish, 0 %>否&nbsp;
    <%= f.radio_button :publish, 1 %>是
  </div>
  <div class="field">
    <%= f.label :state, '状态' %><br />
    <%= f.radio_button :state, 0 %>禁用&nbsp;
    <%= f.radio_button :state, 1 %>正常
  </div>
  <span blank20></span>
  <div class="actions">
    <%= f.submit '保存' %>
	<%=link_to '返回', admin_statics_path %>
  </div>
<% end %>
