<%=provide(:title, '创建静态页')%>
<% content_for :scripts do %>
  <%= javascript_include_tag "kindeditor-4.1.7/kindeditor" %>
	<script style="text/javascript">
    //添加删除分类
    function add_and_drop_category()
    {
      var obj = $(this);
      var cate_id = obj.attr('cate_id');
      obj.addClass('current').siblings('a').removeClass('current');
      obj.parent('div').find('.category_tag').val(cate_id);
    }
      var item_id = '';
      var type = 'Static';
      var options = {
        width: '800px',
        height: '500px',
        uploadJson: '/upload/editor?item_id='+item_id+'&type='+type,
        afterUpload : function(url,data) {
          //把编辑器上传的图片ｉｄ传给editor_ids,用于关联该新闻对象
          muc.record_asset_ids(data.asset_id,'#editor_ids');
        }
      };
      KindEditor.ready(function(K) {
        window.editor = K.create('#kind_editor', options)
      });

	function ajax_change_type(type,category)
	{
		var url = '/admin/statics/ajax_change_type';
		$.get(url,{category: category ,type: type})
	}

	</script>
<%end%>
<% content_for :jquery do %>
  //刷新页面后清空assetID
  $("#editor_ids").attr('value','');
  //清空分类
  $('#category_id_box').val('');

  //初始化加载分类
  var current_type = $(":input[name='static[type]'][checked]").val();
  var current_category = 0;

  ajax_change_type(current_type,current_category);
  //切换类型
  $(":input[name='static[type]']").bind('click',function(){
	ajax_change_type($(this).val(),current_category);

  })
<%end%>
<div class="main">
	<%=render 'admin/base/left_bar'%>
    <div class="span10">
      <!--Body content-->

	  <%= render "admin/statics/tool_bar"%>

	  <span class="blank10"></span>
	  <%= render 'form' %>
    </div>
</div>




