    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <%= link_to 'TianShuai', root_path, class: 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			<li class="<%= css_active?(@css_head_home) %>"><%= link_to '首页', root_path %></li>
			<li class="<%= css_active?(@css_head_life) %>"><%= link_to '生活', posts_path('life') %></li>
			<li class="<%= css_active?(@css_head_health) %>"><%= link_to '健康', posts_path('health') %></li>
			<li class="<%= css_active?(@css_head_inspire) %>"><%= link_to '励志', posts_path('inspire') %></li>
			<li class="<%= css_active?(@css_head_science) %>"><%= link_to '科普', posts_path('science') %></li>
            <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">更多 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">关于</a></li>
                <li><a href="#">联系我们</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<% if signed_in? %>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
				  <ul class="dropdown-menu">
                	<li><%= link_to "个人设置", user_edit_info_path %></li>
                	<%if admin_system?%>
						<li><%= link_to "系统管理", admin_home_path %></li>
					<%end%>
					<li class="divider"></li>
					<!--<li class="dropdown-header">Nav header</li>-->
					<li><%= link_to '注销', signout_path, method: :delete %></li>
				  </ul>
				</li>
			<%else%>
			  <li><%= link_to "注册", signup_path %></li>
			  <li><%= link_to "登录", signin_path %></li>
			<%end%>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
